---
layout: default
title: Blog | Pedro
---

<html class="dark">
  <body>
    <header class="text-center mb-8 mt-20">
      <h1 class="text-5xl mb-1">Blog</h1>
      <p class="my-0 text-gray3">
        Meu blog com informações, ideias e contribuições relevantes, já outras
        nem tanto.
      </p>
    </header>

    <div
      class="mx-auto w-24 h-1 my-12 bg-gradient-to-r from-gray5 to-gray4 rounded-full"
    ></div>

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-4 mb-12">
      <section
        class="mt-6 grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-x-6 gap-y-8"
      >
        {% for post in site.posts %}
        <article
          class="relative w-full h-64 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg hover:shadow-2xl transition duration-300 ease-in-out"
          style="background-image: url('{{ post.image }}');"
        >
          <div
            class="absolute inset-0 bg-black bg-opacity-50 supports-backdrop-blur:bg-white/60 group-hover:opacity-75 transition duration-300 ease-in-out"
          ></div>
          <div
            class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex justify-center items-center"
          >
            <div class="flex flex-col w-full border-opacity-50">
              <div>
                <h3 class="text-center">
                  <a
                    class="text-white text-2xl font-bold text-center"
                    href="{{ post.url }}"
                  >
                    <span class="absolute inset-0"></span>
                    {{ post.title }}
                  </a>
                </h3>
              </div>
              <div class="border-dashed border-b-2 m-5 border-slate-700"></div>
              <div class="text-center h-20 rounded-box place-items-center">
                <!-- Adicione as tags do post aqui, se desejar -->
                {% for tag in post.tags %}
                <span class="shadow-xl tag tag-{{ tag }}"> #{{ tag }} </span>
                {% endfor %}
              </div>
            </div>
          </div>
        </article>
        {% endfor %}
      </section>
    </div>
  </body>
</html>
