---
layout: default
title: Projetos | Pedro
---

<main class="prose dark:prose-invert container">
    <header class="text-center mb-8 mt-20">
        <h1 class="text-5xl mb-1">Projetos</h1>
        <p class="my-0 text-gray3">Minha lista de projetos</p>
    </header>

    <div class="mx-auto w-24 h-1 my-12 bg-gradient-to-r from-gray5 to-gray4 rounded-full"></div>

    <ul class="grid-list justify-items-center pl-0">
        {% for project in site.data.projects %}
        <li class="list-none p-0">
            <article class="max-w-sm overflow-hidden shadow-xl bg-gray6 y-6 hover:scale-105 rounded-xl transition-transform ease-in-out duration-500">
                <a href="{{ project.link }}" class="no-underline">
                    <img class="w-full m-0 mb-1 rounded-t-xl" src="{{ project.image }}" alt="{{ project.name }}">
                    <section class="p-5">
                        <h5 align="center">{{ project.name }}</h5>
                        <p class="text-gray3 min-h-[100px]" align="justify">{{ project.description }}</p>
                        <span class="tags-container">
                            {% for tag in project.tags %}
                            <span class="tag">#{{ tag }}</span>
                            {% endfor %}
                        </span>
                    </section>
                </a>
            </article>
        </li>
        {% endfor %}
    </ul>
</main>
