<nav
  class="flex justify-between p-2 md:p-2 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50 bg-white/95 supports-backdrop-blur:bg-white/60 dark:bg-transparent border-bottom"
>
  <a
    class="flex gradient-text-pink justify-center border-green-500 items-center text-center font-extrabold text-slate-900 text-4xl"
    href="/"
  >
    <baffle-text baff="</> Pedro"></baffle-text>
  </a>

  <ul class="flex justify-center items-center">
    <ul class="flex relative justify-center drop-shadow items-center">
      <li class="mx-2 md:mx-4 hover:scale-105 transition-transform">
        <a
          href="/about"
          class="font-sans text-xl font-bold leading-none text-gray2 hover:text-white"
          >Sobre</a
        >
      </li>
      <li class="mx-2 md:mx-4 hover:scale-105 transition-transform">
        <a
          href="/blog"
          class="font-sans text-xl font-bold leading-none text-gray2 hover:text-white"
          >Blog</a
        >
      </li>
      <li class="mx-2 md:mx-4 hover:scale-105 transition-transform">
        <a
          href="/project"
          class="font-sans text-xl font-bold leading-none text-gray2 hover:text-white"
          >Projetos</a
        >
      </li>
    </ul>
  </ul>
</nav>
