.mockup-code{
    margin: 1rem;
}

/* Normalize project cards sizing (project.html) */
.grid-list > li {
    height: 100%;
    width: 100%;
}

.project-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-card__link {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-card__img {
    height: 180px;
    object-fit: cover;
}

.project-card__content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.project-card__desc {
    flex: 1;
}

.project-card__tags {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}